:root {
    --primary-color: #333;
    --background-color: #f9f9f9;
    --text-color: #000;
}

[data-theme="dark"] {
    --primary-color: #f1f1f1;
    --background-color: #333;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.task-form {
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-container {
    position: relative;
    padding: 20px;
    margin-top: 80px;
}

.task-item {
    position: absolute;
    cursor: move;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.priority-alta {
    border-left: 5px solid red;
}

.priority-media {
    border-left: 5px solid orange;
}

.priority-baja {
    border-left: 5px solid green;
}

.progress-bar {
    height: 8px;
    width: 100%;
    background: #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.progress-bar-inner {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 4px;
}
